# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: true
cache: packages

dist: xenial

apt_packages:
  - libtiff5-dev
  - xclip
  - libgit2-dev

env:
  - TRAVIS_CLIP=xclip DISPLAY=:99.0

before_script:
  - sh -e /etc/init.d/xvfb start
  - sleep 3
  - if [ "$TRAVIS_CLIP" == "xclip" ]; then uptime | xclip -i -sel p -f | xclip -i -sel c; xclip -o -sel clipboard; fi

after_success:
  - Rscript -e 'covr::codecov()'

before_cache: Rscript -e 'remotes::install_cran("pkgdown")'
deploy:
  provider: script
  script: Rscript -e 'pkgdown::deploy_site_github()'
  skip_cleanup: true
